*.h5 filter=lfs diff=lfs merge=lfs -text
*.DESKTOP-P0V6L6F filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.bmp filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text